# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
**/node_modules
**/package-lock.json
examples/nextjs/.next

# testing
/coverage

# production
/dist
/lib

# misc
.DS_Store

