.example-form {
  max-width: 600px;
  padding: 2px;
  margin: auto;
  background-color: cyan;
  text-align: left;
}

.example-form_title {
  text-align: center;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.example-form_item_group {
  border: 1px solid LightBlue;
  padding: 5px;
  margin: 10px;
}

.example-form_item {
  width: 100%;
  margin-bottom: 5px;
}

.example-form_field-label {
  width: 100%;
  display: inline-block;  
}

.example-form_input {
  width: 100%;
}

.example-form_button {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
}

.example-form_button-valid {
  background-color: LightGreen;
}

@media only screen and (min-width: 500px) {
  .example-form_field-label {
    width: 30%;
    padding-right: 5px;
    text-align: right;
  }
  .example-form_input {
    width: 50%;
  }
  .example-form_item_group {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

